<?xml version="1.0"?>
<config>
    <modules>
        <Hirale_AsyncIndex>
            <version>1.1.0</version>
        </Hirale_AsyncIndex>
    </modules>
    <global>
        <models>
            <index>
                <rewrite>
                    <indexer>Hirale_AsyncIndex_Model_Indexer</indexer>
                    <process>Hirale_AsyncIndex_Model_Process</process>
                </rewrite>
            </index>
            <hirale_asyncindex>
                <class>Hirale_AsyncIndex_Model</class>
                <resourceModel>hirale_asyncindex_resource</resourceModel>
            </hirale_asyncindex>
            <hirale_asyncindex_resource>
                <class>Hirale_AsyncIndex_Model_Resource</class>
                <entities>
                    <process_state>
                        <table>hirale_asyncindex_process_state</table>
                    </process_state>
                    <full_run>
                        <table>hirale_asyncindex_full_run</table>
                    </full_run>
                </entities>
            </hirale_asyncindex_resource>
        </models>
        <helpers>
            <hirale_asyncindex>
                <class>Hirale_AsyncIndex_Helper</class>
            </hirale_asyncindex>
        </helpers>
        <resources>
            <hirale_asyncindex_setup>
                <setup>
                    <module>Hirale_AsyncIndex</module>
                </setup>
            </hirale_asyncindex_setup>
        </resources>
    </global>
    <crontab>
        <jobs>
            <hirale_asyncindex_reconcile>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>hirale_asyncindex/reconciler::execute</model>
                </run>
            </hirale_asyncindex_reconcile>
        </jobs>
    </crontab>
    <default>
        <hirale_asyncindex>
            <settings>
                <enabled>0</enabled>
                <auto_manage_modes>1</auto_manage_modes>
                <restore_modes_on_disable>1</restore_modes_on_disable>
                <auto_reindex_required>1</auto_reindex_required>
                <batch_size>200</batch_size>
                <full_batch_size>500</full_batch_size>
                <max_runtime_seconds>45</max_runtime_seconds>
                <full_max_runtime_seconds>45</full_max_runtime_seconds>
                <max_attempts>3</max_attempts>
                <retry_delay>60</retry_delay>
                <coalesce_ttl_seconds>10</coalesce_ttl_seconds>
            </settings>
        </hirale_asyncindex>
    </default>
</config>
